body {
  background-color: burlywood;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #005580;
  text-align: center;
}

p {
  font-style: italic;
  color: #005580;
  font-family: Arial;
  font-weight: 800;
}

ol {
  list-style-type: lower-latin;
  color: #005580;
  font-family: Arial;
  font-weight: 800;
}

ul {
  list-style-type: square;
  color: #005580;
  font-family: Arial;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #005580;
  background-color: white;
  font-family: Arial;
  font-weight: 800;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 600px;
  height: 350px;
}

table,
th,
td {
  border: solid #005580 3px;
  color: #005580;
}
fieldset {
  border: none;
}

form {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #005580;
  font-family: Arial;
  font-weight: 800;
}

footer {
  border-top: solid #005580 2px;
  margin-top: 10%;
}
/* 
* {
  margin: 0.5%;
  color: black;
} */
